**vendor
/node_modules
.env
/bootstrap/compiled.php
composer.phar
.DS_Store
Thumbs.db
*~
*.swp
.project
/public/files
.idea/
database/migrations/archive/
npm-debug.log
public/phpmyadmin/
_ide_helper.php
