/***** ~ LAYOUT ~ *****/
body {
	background: url('/img/background.png') top center fixed;
	color: #000;
}
h1 {
	font-size: 2.625em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: .875em;
}
.head_wrapper {
	width: 100%;
	min-width: 960px;
	background: url('/img/sky3.jpg') top center fixed;
}
.header {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 25px 0 30px;
}
.star_logo {
	background: url('/img/starlogo.png') top center no-repeat;
	height: 100px;
	width: 800px;
	margin-bottom: 40px;
	position: relative;
	left: -10px;
}
.main_wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0;
}
.page_wrapper {
	width: 100%;
	height: 100%;
	min-width: 960px;
}
.page {
	width: 960px;
	height: 100%;
	line-height: 1.3em;
	margin: 0 auto;
	background-color: white;
	background: rgba(255,255,255,0.5);
}
.alert-box > .alert {
	border-left: 0 none;
	border-right: 0 none;
	font-weight: bold;
}
.content {
	position: relative;
	padding: 15px 40px 50px;
	text-align: center;
}
.content p {
	color: #4D4D53;
}
.content p strong {
	color: #000;
}
.social-btn-group {
	position: absolute;
	bottom: 0;
	right: 5px;
	margin: 0;
	padding: 0;
}
.social-btn-group > ul {
	margin: 0;
	list-style: none inside none;
}
.header-btn {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}
.header-btn > a {
	height: 100%;
	display: block;
}
#facebook-btn.header-btn {
	background: url('/img/nav/header_fb.png') 0 0 no-repeat;
}
#google-btn.header-btn {
	background: url('/img/nav/header_google.png') 0 0 no-repeat;
}
#linkedin-btn.header-btn{
	background: url('/img/nav/header_linkedin.png') 0 0 no-repeat;
}

/***** ~ NAVIGATION BAR ~ *****/
.nav-bar {
	float: left;
	list-style: none;
	padding: 0;
	white-space: nowrap;
	margin: 0;
	position: relative;
}
.nav-bar a {
	display: block;
	width: 100%;
	padding: 1px 10px;
	color: #000;
	text-decoration: none;
}
.nav-bar > li > a {
	padding: 7px 0;
}
.nav-bar a:hover, .navbar a:focus {
	color: #fff;
}
.nav-bar > li {
	background-color: #fff;
	float: left;
	width: 140px;
	margin: 0 3px;
	text-align: center;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.nav-bar > li:first-child {
	margin-left: 0;
}
.nav-bar li:hover, .navbar li:focus {
	background-color: #c5b358;
	color: #fff;
}
.nav-bar > li.active {
	background-color: #c5b358;
}
.nav-bar > li.active > a {
	color: #fff;
	cursor: default;
}
.nav-bar .sub-menu {
	padding: 5px 0 0;
	margin: 0;
	line-height: 1.4em;
	border: 5px solid #c5b358;
	border-radius: 10px;
	background-color: #fff;
	list-style: none;
	position: absolute;
	top: 50px;
	left: 255px;
	z-index: 5;
}
.nav-bar .sub-menu li {
	padding: 0;
	font-size: .95em;
	position: static;
	z-index: 6;
}
.sub-menu .nav-arrow {
	position: absolute;
	top: -29px;
	left: 88px;
	z-index: 5;
}

/************* FRONT PAGE *************/

h3#infoheader1 {
	position:relative;
	right:250px;
}
div#info {
	width:400px;
	padding-right:40px;
	border-right:1px solid #4D4D53;
}
div#info p {
	text-align:justify;
}
div#info p span {
	color:black;
	font-weight:bold;
	font-size:14pt;
}
div#info2 {
	width:400px;
	padding-left:40px;
	position:absolute;
	float:right;
	text-align:justify;
	top:220px;
	right:40px;
}

.subtitle {
	position:relative;
	bottom:30px;
}

a[name='#newsclip'] {
	text-decoration: underline;
	cursor:pointer;
	color:blue;
}

#levels {
	text-align:center;
	list-style-type:none;
}

#pics {
	text-align:center;
	position:relative;
	width:650px;
	height:450px;
	border:5px double black;
	margin:30px auto 20px;
	padding:20px 20px 45px;
}

#slideshow {
	width:650px;
	height:450px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

#pics p {
	position:absolute;
	bottom:-3px;
	width:650px;
	z-index:2;
}

#nav_prev, #nav_next {
	cursor:pointer;
	width:20px;
	position:absolute;
	bottom:10px;
	z-index:3;
}

#nav_prev {
	left:20px;
}

#nav_next {
	right:20px;
}

.tagline {
	clear:both;
	text-align:center;
}

/************* ABOUT US *************/
#bio {
	font-size: 14pt;
	text-align: left;
}
.sls {
	font-size:18pt;
	font-weight:bold;
	color:black;
}
#timeline {
	position:relative;
	float:left;
	height:100%;
	width:300px;
}
#inner_timeline {
	color:white;
	width:280px;
	margin:0px auto;
}
.history {
	position:absolute;
	width:280px;
}
#nav_left, #nav_right {
	cursor:pointer;
	width:30px;
	position:absolute;
	bottom:10px;
}
#nav_left {
	left:100px;
}
#nav_right {
	right:100px;
}
#timeline_wrapper {
	width:870px;
	height:400px;
	background-color:black;
	background:rgba(0,0,0,0.7);
	border:5px double black;
}
#timelinepics {
	float:right;
	height:400px;
}

/************* CURRICULUM *************/
#samplepics {
	position: relative;
	width: 100%;
	margin: 20px auto;
}
#samplepics img {
	border: 5px double #000;
}
#samplepics article > header {
	margin-top: 10px;
}
.sample_left {
	margin: 15px 0px;
	padding: 0px;
}
.sample_left img {
	float: left;
	width: 550px;
	margin: 0px 20px 0px 0px;
}
.sample_left header,
.sample_left p {
	float: right;
	width: 300px;
	margin-bottom: 20px;
}
.sample_right {
	margin: 15px 0px;
	padding: 0px;
}
.sample_right img {
	float: right;
	width: 550px;
	margin: 0px 0px 0px 20px;
}
.sample_right header,
.sample_right p {
	float: left;
	width: 300px;
	margin-bottom: 20px;
}
.sample_bottom img {
	max-width: 400px;
	width: 100%;
}
#bottom_text {
	font-size: 1.2em;
}

/************* BENEFITS *************/
.benefit_list {
	margin-top: 20px;
}
ol > li {
	margin: 0 25px 20px 0;
	font-size: 1.3em;
	text-align: left;
}
ol > li > header {
	margin-bottom: 10px;
	font-weight: bold;
	font-family: "Century Gothic";
}
ol > li > p {
	font-size: .7em;
	text-align: justify;
}
#paperchild {
	border: 5px double #000;
	margin-bottom: 10px;
}

/***** ~ SAMPLE LESSONS ~ *****/
.lesson_text {
	max-width: 800px;
}
.lesson_picker_container {
	position: relative;
	margin-bottom: 20px;
}
#blackboard_child {
	border: double 5px #000;
}
.lesson_picker {
	position: absolute;
	width: 100%;
	max-width: 282px;
	left: 90px;
	bottom: 50px;
	padding: 10px;
	background: #82AEF8;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 5px #4D4D53;
	-moz-box-shadow: 0px 0px 5px 5px #4D4D53;
	box-shadow: 0px 0px 5px 5px #4D4D53;
}
.lesson_picker header {
	margin: 0 5px 10px;
}
#lesson_select_form select {
	width: 90%;
	padding: 5px;
	border: 0 none;
	border-radius: 5px;
	font-family: "Futura", "Century Gothic", sans-serif;
}
.lesson_catalog > h2 {
	font-weight: bold;
	margin-bottom: 20px;
}
.lesson_catalog > .lesson_list > .lesson-title + .lesson-title {
	margin-bottom: 7px;
}

/***** ~ FAQ ~ *****/
#faq {
	margin-top: 30px;
}
#faq > .question .panel-heading {
	position: relative;
	background-color: #c5b358;
	cursor: pointer;
}
#faq > .question .panel-heading .caret {
	position: absolute;
	top: 15px;
	right: 15px;
	border-top-width: 8px;
	border-right-width: 8px;
	border-left-width: 8px;
}
#faq > .question .panel-heading .caret.active {
	border-top: 0 none;
	border-right-width: 8px;
	border-left-width: 8px;
	border-bottom: 8px solid;
}
#faq > .question .panel-title {
	width: 95%;
	line-height: 1.2em;
	font-weight: bold;
	color: #000;
}
.answer {
	color: #4D4D53;
}
.question + .question {
	margin: 0px 0px 20px;
}

/***** ~ CONTACT US ~ *****/
.contact_address {
	margin-top: 15px;
}
.contact_address > strong {
	font-size: 1.3em;
}
#form_wrapper {
	margin-top: 20px;
}
textarea.form-control {
	height: 100px;
}
.errormsg {
	vertical-align: middle;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	color: #c00;
}

/***** ~ SCROLL TO TOP ~ *****/
.scroll-btn {
	width: 75px;
	height: 75px;
	position: fixed;
	right: 50px;
	bottom: 100px;
	z-index: 999;
	border: 2px solid #000;
	border-radius: 8px;
	opacity: 0.4;
}

/***** ~ FOOTER ~ *****/
.foot_wrapper {
	width: 100%;
	min-width: 960px;
	min-height: 50px;
	background: #000;
}
.footer {
	font-size: 1em;
	width: 960px;
	color: #fff;
	padding: 10px 5px 0;
	margin: 0 auto;
	font-family: 'Futura', "Century Gothic", 'Arial', sans-serif;
}
.footer a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
.footer a:hover, .footer a:focus {
	color: #82AEF8;
}
.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.6em;
	font-size: .85em;
}
.footer ul.footer-nav {
	font-size: 1.25em;
}
.footer_col {
	padding-bottom: 50px;
}
.footer_col > h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0;
}
.footer-btn {
	width: 33px;
	height: 32px;
	margin: 15px 5px 0 !important;
	display: inline-block;
	cursor: pointer;
}
#facebook-btn.footer-btn {
	background: url('/img/nav/footer_fb.png') 0 -33px no-repeat;
}
#facebook-btn.footer-btn:hover {
	background-position: 0 0;
}
#google-btn.footer-btn {
	background: url('/img/nav/footer_google.png') 0 -33px no-repeat;
}
#google-btn.footer-btn:hover {
	background-position: 0 0;
}
#linkedin-btn.footer-btn {
	background: url('/img/nav/footer_linkedin.png') 0 -33px no-repeat;
}
#linkedin-btn.footer-btn:hover {
	background-position: 0 0;
}
.footer-legal {
	padding-bottom: 10px;
	font-size: .825em;
}
