html {
	position: relative;
	min-height: 100%;
}
body {
	// Margin bottom by footer height
	margin-bottom: 200px;
	padding: 50px 0 70px;
	font-family: @font1;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.alert-box > .alert {
	border-left: 0 none;
	border-right: 0 none;
	font-weight: bold;
}
