* {
	margin: 0;
}
html, body {
	height: 100%;
	min-height: 100%;
}
html {
	position: relative;
}
body {
	padding: 50px 0 0;
	font-family: @font1;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.main_wrapper {
	min-height: 100%;
	margin: 0 auto -250px;

	.page_start {
		margin: 20px auto 10px;

	}
}
.alert-box > .alert {
	border-left: 0 none;
	border-right: 0 none;
	font-weight: bold;
}
.errormsg {
	color: #a94442;
	font-weight: bold;
}
.scroll-btn {
	width: 75px;
	height: 75px;
	position: fixed;
	right: 3%;
	bottom: 10%;
	z-index: 999;
	border: 2px solid #000;
	border-radius: 8px;
	opacity: 0.4;
}
.caret.caret-large {
	border-top: 8px solid;
	border-right: 8px solid transparent;
	border-bottom: 0 none;
	border-left: 8px solid transparent;

	&.active {
		border-top: 0 none;
		border-right: 8px solid transparent;
		border-bottom: 8px solid;
		border-left: 8px solid transparent;
	}
}
