@imgdir: "/img";
@font1: 'dustismoregular', sans-serif;
@font2: 'Corben', Georgia, Times, serif;
@font3: 'Futura', "Century Gothic", 'Arial', sans-serif;
@font4: 'tizaregular', serif;
@font5: 'dustismo_romanregular', sans-serif;
